html {
  scroll-behavior: smooth;
}

body {
	font-family: "Georgia", serif;
	background-color: #c8a2de;
}

h1 {
	text-align: center;
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

li {
	float: left;
}

li a {
	text-decoration: none;
  	display: block;
  	padding: 14px 18px;
  	margin: 8px;
  	text-align: center;
  	background-color: #f0e175;
  	color: black;
  	border: 5px solid #ebd654;
  	border-radius: 8px;
}

.centered {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.vertical-margins {
	margin-top: 20px;
	margin-bottom: 20px;
}

.text-info {
	border: 5px dashed #5ea1db;
	background-color: #81b7e6;
	width: 800px;
	height: auto;
	border-radius: 10px;
}