html {
  scroll-behavior: smooth;
}

body {
	font-family: "Georgia", serif;
	background-color: #b0c7be;
  margin: 0;
}

h1 {
	text-align: center;
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
    width: 370px;
}

li {
	float: left;
}

li a {
	text-decoration: none;
  	display: block;
  	padding: 14px 18px;
  	margin: 8px;
  	text-align: center;
  	background-color: #eca38d;
    /*#d28a3f;*/
  	color: black;
  	border: 5px solid #c57462;
    /*#a9652e;*/
    /*#c16011;*/
  	border-radius: 8px;
    transition-duration: 0.3s;
}

li a:hover {
  background-color: #c57462;
}

.centered {
	display: block;
  margin-left: auto;
	margin-right: auto;
}

.small-margins {
	margin-top: 40px;
	margin-bottom: 40px;
}

.large-margins {
  margin-top: 100px;
  margin-bottom: 100px;
}

.text-info {
  /*letter-spacing: 1px;*/
  line-height: 1.5;
	/*border: 5px dashed #c57462;*/
	background-color: #b0c7be;
	width: 800px;
	height: auto;
	border-radius: 10px;
}

.text-padding {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.header {
  color: #c16011;
  text-shadow: 2px 2px #856949;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 400px;
  font-size: 40px;
  margin:0;
}

.backgroundimg {
  background-image: url(headerbg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  background-position-y: 0px;
} 

.video-border {
  border: 8px outset #d28a3f;
}
