/* 
Hana Selmani
10/05/2023
Communications Lab
Final Project - Portfolio Website 
*/

/* setting fonts and colors */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #222;
}
h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}

/* Set the width of the sidebar to 120px */
.navbar {
    width: 120px;
    height: 40%;
    position: fixed;
    top: 30%;
    z-index: 1;
    text-align: center;
}

/* padding is 0 initiially, but check below for different sizes of screens */
/* when it gets smaller, there is enough padding to make space for the navbar */
.main {
    padding-left: 0px;
}

/* landing page text */
.greeting {
    float: left;
    width: 50%;
    margin-top: 28%;
    color: white;
}
  
/* headshot container */
.image-container {
    float: left;
    width: 50%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

.padding-64{
    padding-left: 64px;
    padding-right: 64px;
}

/* add border to headshot */
#headshot {
    border: white 5px solid;
    border-radius: 30px;
}

/* individual navbar button properties */
.navbar-btn {
    color: rgb(124, 124, 124);
    text-decoration: none;
    transition: all .3s ease-Out;
} 

/* navbar button when hovered over */
.navbar-btn:hover {
    color: white !important; 
} 

/* for sections which have an image background */
.img-section {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
    background-image: url('bg.png') !important;
}

/* for sections which are text focused */
.text-section {
    padding-top: 10%;
    padding-bottom: 15%;
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: white;
}

/* making space for the navbar */
.content {
    margin-left: 120px;
}

/* animated eye properties */
#btn {
    font-size: 38px;
    color: white;
    text-align: center;
    position: absolute;
    padding-top: 12%;
    visibility: hidden;
    left: 3%;

}

/* padding the work section */
#myWork {
    padding-bottom: 40%;
}

/* buttons for assignments */
.asgs {
    text-decoration: none;
    color: white;
    font-size: 70px;
    position: absolute;
    display: none;
    transition: all .3s ease-Out;
}

/* hover effects */
.asgs:hover {
    color: #222;
}

/* individual button placements */

#paw {
    left: 46%;
}

#recycle {
    left: 60%;
    padding-top: 12%;
}

#sound {
    margin-top: 25%;
    left:46%
}

#video {
    padding-top: 12%;
    left: 32%;
}

/* button to make the assignment buttons appear */
.button {
    position: absolute;
    visibility: hidden;
    display: inline-flex;
    height: 150px;
    width: 200px;
    border: 2px solid #ffffff;
    margin-top: 11%;
    margin-left: 42%;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    text-decoration: none;
  }

#button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-3 a {
    position: relative;
    transition: all .45s ease-Out;
}
 
/* circle inside the button */
#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
}
  
/* hover effect */
#button-3:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
}
  
#button-3:hover a {
    color: #2D3142;
}

/* padding contact section */
#contact {
    padding-top: 10%;
    padding-bottom: 4%;
}

/* if width is less than 1200px, make space for navbar */
@media only screen and (max-width: 1200px) 
{
    .main{padding-left: 120px !important;}
}

/* Remove margins from "page content" on small screens */
/* position well for small screens */
@media only screen and (max-width: 600px) 
{
    .main{padding-left: 10% !important}
    
    .greeting {
        margin-top: 2%;
        margin-left: 0;
        text-align: center;
    }
    /* remove the side-by-side sections */
    .greeting, .image-container {
        width: 100%;
    }

    #myWork {
        padding-bottom: 100%;
    }

    #btn, #recycle {
        padding-top: 30%;
    }

    .button {
        margin-top: 30%;
        margin-left: 30%;
    }

    #recycle {
        left: 80%;
    }

    #sound {
        margin-top: 60%;
    }

    #video {
        left: 15%;
        padding-top: 30%;
    }

    #about {
        margin-left: 0;
    }
}